.fave-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 260px;
}

.fave-bird {
  height: 200px;
  border: 3mm ridge #3b92d0;
}

.delete-button {
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 7px;
  margin: 6px;
  background: #3b92d0;
  color: white;
  cursor: pointer;
  transition: 0.5s;
  font-size: large;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.571);
}

.delete-button:hover {
  scale:1.1;
  background-color: #f96162;
}

.delete-button:active {
  scale: 1.0;
  background-color: #bf4a4a;
}