.nav-bar {
  --card-gradient:#0e0e0d, #000000;
  top: 0;
  width: 100%;
  height: 130px;

  background-image: linear-gradient(
    var(--card-gradient),
    white max(9.5rem, 27vh)
  );
}

.birdlife-title {
  font-family: 'Actor';font-size: 25px;
  top: 20px;
  left: 30px;
  font-size: 3.0em;
  color:2px 4px 4px rgb(244, 201, 123);
  text-shadow: 2px 4px 4px rgba(46,91,173,0.6);
  margin: 0;
}

.birdlife-title:hover {
 color: rgb(192, 221, 244);
  text-shadow: 2px 4px 4px rgb(128, 137, 145);
}

.nav-buttons {
  display: flex;
  display: inline-block;
  top: 20px;
  right: 20px;
  width: auto;
}

.nav-button {
  height: 50px;
  width: 160px;
  margin: 5px;
  border: 0;
  border-radius: 5px;
  color:2px 4px 4px rgb(244, 201, 123);
  color: rgb(0, 0, 0);
  font-family: 'Actor';
  font-size: medium;
  font-weight: bolder;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.571);
  cursor: pointer;
  transition: 0.5ms;
}

.nav-button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.711);
  background-color: #d9bb24;
  border: 3px solid #e3bc23;
  scale: 1.01;
}

.nav-button:active {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.711);
  background-color: #307cb2;
  border: 3px solid #f2bfc8;
  scale: 1.01;
}