.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  height: 260px;
}

.bird-card {
  height: 200px;
}

.sighting-button {
  width: 100px;
  height: 30px;
  border: 0;
  margin: 6px;
  background: #f6e08b;
  color: rgb(90, 89, 89);
  cursor: pointer;
  transition: 0.5s;
  font-size: large;
  border-radius: 10px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.571);
}

.sighting-button:hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.711);
  background-color: #f9f1c8;
  border: 3px solid #f6f6f6;
  scale: 1.01;
}

.sighting-button:disabled {
  background-color: grey;
  color: darkgray;
  pointer-events: none;
}

