
  @import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
  
  body {
    background-image: url('https://live.staticflickr.com/65535/49049153921_7a83726af7_k.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  margin-top: 130px;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.welcome {
  font-family: 'Actor';font-size: 22px;
  position: absolute;
  font-size: 4.5em;
  color: white;
}

.home-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  margin-top: 80px;
}

.get-random {
  display:flex;
  flex-direction: column;
  align-items: center;
 }

.get-random > button {
  height: 50px;
  width: 300px;
  border: 0;
  border-radius: 7px;
  margin: 10px;
  background: #d9bb24;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.571);
  color: white;
  cursor: pointer;
  font-size: medium;
  font-weight: bolder;
  transition: 0.5s;
  margin-top: 40px;
}

.get-random > button:hover {
  scale: 1.05;
  background: #e1d557;
}

.get-random > button:active {
  scale: 1.0;
  background: #c99c06;
}

.img-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 300px;
  /* border: 4mm ridge #808383; */
  background-color: #fafafa;
}

.random-bird-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: fill;
}
