/* .App {
  text-align: center;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 3em;
  margin-bottom: 240px;
} */
html, body, #root {
  height: 100%;
}